:root{
    --colorGreen: #4BB543;
    --colorRed: red;
    --colorBlue: rgb(62, 62, 235);
}

*,
*:after,
*::before{
    box-sizing: border-box;
}
/* Globales */
body{
    padding: 0;
    margin: 0; 
    font-size: 18px;
}
h1,h3,h5{
    margin: 0;
}
.container-global{
    width: 90%;
    margin: auto;
}
.center{
    text-align: center;
}

.container{
    display: flex;
    /* grid-template-columns: 1fr 2fr; */
    gap: 20px;
    width: 100%;
    place-items: center;
}
.form{

}

input[type="text"]{

}
.form-card{
    width: 300px;
}

.form-card label, input, textarea{
    display: block;
    padding: 5px 0px;
    width: 100%;
}
.form-inputs{

}
.form-buttons{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px;
}
.button{
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 14px;
}
.button.button--green{
    background-color: var(--colorGreen);
}

.button.button--red{
    background-color: var(--colorRed);
}

.button.button--gris{
    background-color: rgb(160, 147, 147);
}

.button.button--blue{
    background-color: var(--colorBlue);
}
.contenedor-table{
    width: 100%;
}
table{
    border-collapse: collapse;
    width: 100%;
}
table tr td{
    border-bottom: 1px solid rgb(208, 200, 200);
}
th{

}

/* Paginador */
.paginador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* product-category */
.product-category{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
.card-categoryproduct{
    width: 100%;
}

.card-categoryproduct select{
    display: block;
    width: 100%;
    margin: 10px 0px;
    padding: 8px;
}
/* .card-categoryproduct select{
} */

@media ( max-width:  857px ){
    .container{
        grid-template-columns: 1fr;
    }
    .product-category{
        flex-direction: column;
    }
}

.login{
    max-width: 300px;
    width: 90%;
    margin: auto;
}

.modal-product{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 4px 12px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 4px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 12px 0px rgba(0,0,0,0.75);;
    padding: 10px;
    max-width: 400px;
    width: 90%;
}
.modal-product .close{
    border-bottom: 1px solid black;
    margin: 0px;
    text-align: right;
    cursor: pointer;
}
.header{
    background-color: black;
    margin: 0;
    padding: 20px;
    position:sticky;
    top: 0;

}
.header h3{
    margin: 0;
    padding: 0;
    color: white;
    text-align: right;
    cursor: pointer;
}


/* user-form */

.user-form{
 /*    max-width: 200px;
    width: 90%;
    margin: auto; */
}

.crud-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

/* roleandpermission */
.roleandpermission{
    margin-top: 40px;
}
.assign-role-user{
    margin-top: 40px;
}